{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 4,
  "printWidth": 120,
  "trailingComma": "none",
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "ignore",
  "plugins": ["prettier-plugin-blade", "prettier-plugin-tailwindcss"]
}
